<div class="mb-3">
    <label for="{{ id }}_id" class="form-label">{{ labelText|default('') }}</label>
    <textarea class="form-control" id="{{ id }}_id" name="{{ name }}" rows="10">{{ value }}</textarea>
</div>
