<div class="mb-3">
    <label for="{{ name }}_id" class="form-label">{{ labelText|default:'' }}</label>
    <input type="number" id="{{ name }}_id" name="{{ name }}" value="{{ value }}" class="form-control">
</div>
