<div class="mb-3">
    <label for="{{ name }}_id" class="form-label">{{ labelText|default:'' }}</label>
    <textarea class="form-control" id="{{ name }}_id" name="{{ name }}" rows="10">{{ value }}</textarea>
</div>
