<div class="mb-3">
    <label for="{{ id }}_id" class="form-label">{{ labelText|default('') }}</label>
    <input type="text" id="{{ id }}_id" name="{{ name }}" value="{{ value }}" class="form-control">
</div>
