{% set tests = task.getTestTexts() %}
<div class="my-2">
    <h4 class="card-title">{{ task.title }}</h4>
    <p>{{ task.text }}</p>

    {% for test in tests %}
        <div class="card border border-dark mb-2">
            <div class="card-body">
                <h5 class="card-title">{{ test.text }}</h5>
                <select name="test_answers[{{ test.id }}]" class="form-select" multiple aria-label="">
                    <option value="1">{{ test.variantOne }}</option>
                    <option value="2">{{ test.variantTwo }}</option>
                    <option value="3">{{ test.variantThree }}</option>
                    <option value="4">{{ test.variantFour }}</option>
                </select>
            </div>
        </div>
    {% endfor %}
    <input type="submit" value="Отправить на проверку" class="btn btn-primary mt-2">
</div>


