{% set tests = task.getTestTexts() %}
<div class="my-2">
    <h4 class="card-title">{{ task.title }}</h4>
    <p>{{ task.text }}</p>

    {% for test in tests %}
        <div class="card border border-dark mb-2">
            <div class="card-body">
                <h5 class="card-title">{{ test.text }}</h5>
                <div class="col-lg-3">
                    <div class="form-group g-mb-10">
                        <label class="u-check g-pl-25">
                            <input
                                class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0"
                                name="test_answers[{{ test.id }}]"
                                type="radio"
                                checked=""
                                value="1"
                            >
                            <span class="u-check-icon-font g-absolute-centered--y g-left-0">
                                <i class="fa" data-check-icon="" data-uncheck-icon=""></i>
                             </span>
                            {{ test.variantOne }}
                        </label>
                    </div>

                    <div class="form-group g-mb-10">
                        <label class="u-check g-pl-25">
                            <input
                                class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0"
                                name="test_answers[{{ test.id }}]"
                                type="radio"
                                checked=""
                                value="2"
                            >
                            <span class="u-check-icon-font g-absolute-centered--y g-left-0">
                                <i class="fa" data-check-icon="" data-uncheck-icon=""></i>
                             </span>
                            {{ test.variantTwo }}
                        </label>
                    </div>

                    <div class="form-group g-mb-10">
                        <label class="u-check g-pl-25">
                            <input
                                class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0"
                                name="test_answers[{{ test.id }}]"
                                type="radio"
                                checked=""
                                value="3"
                            >
                            <span class="u-check-icon-font g-absolute-centered--y g-left-0">
                                <i class="fa" data-check-icon="" data-uncheck-icon=""></i>
                             </span>
                            {{ test.variantThree }}
                        </label>
                    </div>

                    <div class="form-group g-mb-10">
                        <label class="u-check g-pl-25">
                            <input
                                class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0"
                                name="test_answers[{{ test.id }}]"
                                type="radio"
                                checked=""
                                value="4"
                            >
                            <span class="u-check-icon-font g-absolute-centered--y g-left-0">
                                <i class="fa" data-check-icon="" data-uncheck-icon=""></i>
                             </span>
                            {{ test.variantFour }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <input type="submit" value="Отправить на проверку" class="btn btn-primary mt-2">
</div>


