{% extends 'layout/base.html.twig' %}

{% block page_title %} Новости {% endblock %}

{% block content %}
    <div class="container mt-4">
        {% include "front/components/pagination.html.twig"
            with {
                paginator: paginator,
                previous: previous,
                next: next,
                front_route: 'news_list'
            }
        %}
    </div>
    <section class="container g-pt-75 g-pb-45">
        <div class="row justify-content-between g-mb-0">
            <div class="col-lg-9 order-lg-2 g-mb-30">
                {% for news in paginator %}
                <div class="g-pl-20--lg">
                    <div class="d-flex justify-content-between">
                        <div class="d-block mr-5 g-hidden-sm-down">
                            <img class="g-width-120" src="{{ news.image }}" alt="Gravity">
                        </div>
                        <div class="d-block">
                            <h2 class="h4 g-color-black g-font-weight-600 g-mb-15"><a href="{{ path('news_details', {id: news.id}) }}">{{ news.title }}</a></h2>
                            <ul class="list-inline g-font-size-13">
                                <li class="list-inline-item">
                                    <i class="align-middle g-color-primary g-font-size-15 mr-2 icon-education-009 u-line-icon-pro"></i>
                                    <span class="g-color-gray-dark-v5 g-text-underline--none--hover" href="#">
                                        {{ news.created|format_datetime(locale="ru") }}
                                    </span>
                                </li>
                            </ul>
                            <p class="g-mb-0">{{ news.getPresentText }}</p>
                        </div>
                    </div>
                </div>
                <hr class="g-my-30">
                {% else %}
                    <p>Новостей пока что не опубликовано</p>
                {% endfor %}
                {% include "front/components/pagination.html.twig"
                        with {
                        paginator: paginator,
                        previous: previous,
                        next: next,
                        front_route: 'news_list'
                    }
                %}
            </div>
        </div>
    </section>
{% endblock %}
