{% extends 'layout/base.html.twig' %}

{% block page_title %}Обучение{% endblock %}

{% block content %}

    <div class="container g-my-75">
        <article class="g-mb-0">
            <ul class="nav nav-pills navtab-bg nav-justified">
                <li class="nav-item">
                    <a href="#general" data-toggle="tab" aria-expanded="false" class="nav-link active">
                        Информация о курсе
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tasks" data-toggle="tab" aria-expanded="true" class="nav-link">
                        Задачи
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="general">
                    <h3 class="g-my-30">{{ course.title }}</h3>
                    <p>{{ course.text|raw }}</p>
                    <hr>
                    <div>
                        <a href="{{ path("bug_report", {id: course.id}) }}" class="btn btn-danger">Сообщить об ошибке</a>
                    </div>
                    {% if course.courseLinks %}
                        <hr>
                        {% for link in course.courseLinks %}
                            <h5>Полезные ссылки</h5>
                            <div class="border border-secondary p-2 rounded-3">
                                <a href="{{ link.url }}" class="link-primary">{{ link.title }}</a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="tab-pane show" id="tasks">
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Название</th>
                                <th>Тип задачи</th>
                                <th>Выполнение</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for task in course.tasks %}
                                {% if task.id in taskData and taskData[task.id].endDate.date %}
                                    {% set taskBg = 'badge bg-success p-2' %}
                                {% else %}
                                    {% set taskBg = '' %}
                                {% endif %}
                                <tr>
                                    <th scope="row">{{ loop.index }}</th>
                                    <td><a href="{{ path('learn_task', {id: task.id}) }}">{{ task.title }}</a></td>
                                    <td>{{ task.getTypeStr() }}</td>
                                    <td>
                                            <span class="{{ taskBg }}">
                                                {% if task.id in taskData|keys %}
                                                    {% set taskId = task.id %}
                                                    {{ taskData[taskId].endDate.date|date(format_datetime_short) }}
                                                {% endif %}
                                            </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock %}
