{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_actions %}
    <div>
        <a href="{{ ea_url().setController('App\\Controller\\Admin\\TaskCrudController').setAction('index').generateUrl() }}" class="btn btn-primary">Список задач</a>
    </div>
{% endblock %}

{% block main %}
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Текст</th>
                <th scope="col">Количество вариантов</th>
                <th scope="col">Обновлено</th>
                <th scope="col">Создано</th>
            </tr>
            </thead>
            <tbody>
            {% for testText in testTexts %}
                <tr>
                    <th scope="row">{{ testText.id }}</th>
                    <td><a href="{{ ea_url().setRoute('edit_test_text_details', {id: testText.id}) }}">{{ testText.text }}</a></td>
                    <td>{{ testText.getVariantCount() }}</td>
                    <td>{{ testText.updatedStr }}</td>
                    <td>{{ testText.createdStr }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}
