{% extends 'layout/base.html.twig' %}

{% block page_title %}{{ course.title }}{% endblock %}

{% block content %}
    <div class="container g-pt-75 g-pb-45">
        <div class="row justify-content-center">
            <div class="col-lg-9 g-mb-30">
                <div class="g-pr-20--lg">
                    <article class="g-mb-0">
                        <header class="g-mb-30">
                            <h2 class="h1 g-mb-15 g-mt-minus-10">{{ course.title }}</h2>
                            <ul class="list-inline d-sm-flex g-color-gray-dark-v4 mb-0">
                                <li class="list-inline-item">
                                    <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#">{{ course.category.title }}</a>
                                </li>
                                <li class="list-inline-item g-mx-10">/</li>
                                <li class="list-inline-item">
                                    {{ course.created|format_datetime(locale="ru") }}
                                </li>
                                <li class="list-inline-item ml-auto">
                                    <i class="icon-star u-line-icon-pro align-middle mr-1"></i> Добавлено в избранное: {{ course.FavoriteCourse|length }}
                                </li>
                            </ul>
                            <hr class="g-brd-gray-light-v4 g-mt-25 g-mb-30">
                            {% include "front/courses/add_course.html.twig" %}
                        </header>
                        <div class="g-font-size-16 g-line-height-1_8 g-mb-30">
                            {{ course.text|raw }}
                        </div>
                        {% include "front/components/course_tags.html.twig" %}
                        <hr class="g-brd-gray-light-v4">
                        {% include "front/courses/add_course.html.twig" %}
                    </article>
                </div>
            </div>
            <div class="col-lg-3 g-brd-left--lg g-brd-gray-light-v4 g-mb-30">
                <div class="g-pl-20--lg">
                    <div class="g-mb-20">
                        <h3 class="h5 g-color-black g-font-weight-600 g-mb-10">Задачи в курсе:</h3>
                        <ul class="list-unstyled g-font-size-13 mb-0">
                            {% for task in course.tasks %}
                                <li>
                                    <span class="d-block u-link-v5 g-color-gray-dark-v4 rounded g-px-20 g-py-8" href="#"><i class="mr-2 fa fa-angle-right"></i> {{ task.title }}</span>
                                </li>
                            {% else %}
                                <p>В данный курс не добавили задачи</p>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
