{% extends 'layout/base.html.twig' %}

{% block page_title %} Список курсов {% endblock %}

{% block content %}
    <div class="container mt-4">
        {% include "front/components/pagination.html.twig"
                with {
                paginator: paginator,
                previous: previous,
                next: next,
                front_route: 'courses_list'
            }
        %}
    </div>
    <div class="container g-py-75">
        <div class="masonry-grid row g-mb-0" style="position: relative; height: 1272.97px;">
            <div class="masonry-grid-sizer col-sm-1"></div>
            {% for course in paginator %}
                <div class="masonry-grid-item col-sm-12 col-md-4 g-mb-30" style="position: absolute; left: 0%; top: 0px;">
                    <article class="u-shadow-v11">
                        <img class="img-fluid w-100" src="{{ course.image }}" alt="Gravity">
                        <div class="g-bg-white g-px-30 g-py-20">
                            <span class="d-block g-color-gray-dark-v4 g-font-weight-600 g-font-size-12 text-uppercase mb-2">{{ course.created|date('Y-m-d') }}</span>
                            <h2 class="h5 g-color-black g-font-weight-600 mb-3">
                                <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="{{ path('course_details', {id: course.id}) }}">{{ course.title }}</a>
                            </h2>
                            <p class="g-color-gray-dark-v4 g-line-height-1_8">{{ course.getPresentText }}</p>
                            <a class="g-font-size-13" href="{{ path('course_details', {id: course.id}) }}">Посмотреть курс</a>
                            {% if userCourses and course.id in userCourses %}
                                <p class="text-success">Курс приобретен</p>
                            {% else %}
                                <p class="text-danger">Курс не приобретен</p>
                            {% endif %}
                            <hr class="g-my-20">
                            <ul class="list-inline d-flex justify-content-between mb-0">
                                <li class="list-inline-item g-color-gray-dark-v4">
                                    <span class="d-inline-block g-color-gray-dark-v4 g-font-size-13 g-text-underline--none--hover">
                                        <i class="align-middle g-font-size-default mr-1 icon-finance-206 u-line-icon-pro"></i>
                                        {{ course.tasks|length }} задач
                                    </span>
                                </li>
{#                                {% if favorites[course.id] %}#}
{#                                    <li class="list-inline-item g-color-gray-dark-v4">#}
{#                                        <i class="align-middle g-color-primary g-font-size-default mr-1 icon-medical-022 u-line-icon-pro"></i>#}
{#                                        <a class="d-inline-block g-color-gray-dark-v4 g-font-size-13 g-cursor-pointer g-text-underline--none--hover" href="#">576</a>#}
{#                                    </li>#}
{#                                {% endif %}#}
                            </ul>
                        </div>
                    </article>
                </div>
            {% else %}
                <p>Курсы пока не опубликованы</p>
            {% endfor %}
        </div>
        {% include "front/components/pagination.html.twig"
            with {
                paginator: paginator,
                previous: previous,
                next: next,
                front_route: 'courses_list'
            }
        %}
    </div>
{% endblock %}
