<div class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-pt-50 g-pb-25">
    <div class="container">
        <div class="row">
            <!-- Start Content Column #01 -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 g-mb-25 g-mb-0--lg">
                <a class="d-block g-mb-25" href="{{ path("front_index") }}">
                    <img src="{{ asset('assets/img/logo/logo-2.png') }}" class="img-fluid" alt="Gravity">
                </a>
                <p>{{ set.getShortProjectDescription }}</p>
            </div>
            <!-- End Content Column #01 -->
            <!-- Start Content Column #02 -->
            <twig:FooterMenu />
            <!-- End Footer Content -->
            <!-- Start Content Column #04 -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 g-mb-25 g-mb-0--lg">
                <div class="u-heading-v3-1 g-brd-white-opacity-0_3 g-mb-25">
                    <h2 class="u-heading-v3__title h6 text-uppercase g-brd-white">Наши контакты</h2>
                </div>
                <address class="g-footer-map-bg g-bg-no-repeat g-font-size-12 mb-0">
                    <div class="d-flex g-mb-0">
                        <div class="g-mr-10">
                              <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                <i class="fa fa-envelope"></i>
                              </span>
                        </div>
                        <p class="mb-0">
                            <a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:{{ set.getAdminPublicEmail }}">{{ set.getAdminPublicEmail }}</a>
                            <br>
                            <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">{{ set.getFrontSite }}</a>
                        </p>
                    </div>
                </address>
            </div>
            <!-- End Content Column #04 -->
        </div>
    </div>
</div>
<!-- End Footer -->
<!-- Start Footer Copyright -->
<footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center text-md-left g-mb-15 g-mb-0--md">
                <div class="d-lg-flex">
                    <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">© {{ 'now' | date('Y') }} - Все права защищены</small>
                </div>
            </div>
            <div class="col-md-4 align-self-center">
                <ul class="list-inline text-center text-md-right mb-0">
                    <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Github">
                        <a href="{{ set.getGithubLink }}" class="g-color-white-opacity-0_5 g-color-white--hover">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
