<div class="u-header__section u-header__section--hidden u-header__section--dark g-hidden-sm-down g-bg-black g-py-13" style="">
    <div class="container">
        <div class="row flex-column flex-md-row align-items-center justify-content-between text-uppercase g-color-white g-font-size-11 g-mx-minus-15">
            {{ component('TopMenu') }}
            <div class="col-auto g-px-15">

                <ul class="list-inline g-line-height-1 g-mt-minus-10 g-mx-minus-4 mb-0">
                    {% if app.user %}
                        <li class="list-inline-item g-mx-4 g-mt-10">
                            <a href="{{ path('profile') }}" class="g-color-white g-color-gray-light-v1--hover g-text-underline--none--hover">Личный кабинет</a>
                        </li>
                        <li class="list-inline-item g-mx-4 g-mt-10">
                            <a href="{{ path('search') }}" class="g-color-white g-color-gray-light-v1--hover g-text-underline--none--hover">Поиск</a>
                        </li>
                        <li class="list-inline-item g-mx-4 g-mt-10">
                            <a href="{{ path('app_logout') }}" class="g-color-white g-color-gray-light-v1--hover g-text-underline--none--hover">Выйти</a>
                        </li>
                        <li class="list-inline-item g-mx-4 g-mt-10">
                            {% include "common/notifications_button.html.twig" %}
                        </li>
                    {% else %}
                        <li class="list-inline-item g-mx-4 g-mt-10">
                            <a href="{{ path('app_login') }}" class="g-color-white g-color-gray-light-v1--hover g-text-underline--none--hover">Войти</a>
                        </li>
                        <li class="list-inline-item g-mx-4 g-mt-10">|</li>
                        <li class="list-inline-item g-mx-4 g-mt-10">
                            <a href="{{ path('app_register') }}" class="g-color-white g-color-gray-light-v1--hover g-text-underline--none--hover">Зарегистрироваться</a>
                        </li>
                    {% endif %}
                    <li class="list-inline-item g-mx-4 g-mt-10">

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
