<div class="u-header__section u-header__section--hidden u-header__section--dark g-hidden-sm-down g-bg-black g-py-13" style="">
    <div class="container">
        <div class="row flex-column flex-md-row align-items-center justify-content-between text-uppercase g-color-white g-font-size-11 g-mx-minus-15">
            {{ component('TopMenu') }}
            <div class="col-auto g-px-15">

                <ul class="list-inline g-line-height-1 g-mt-minus-10 g-mx-minus-4 mb-0">
                    {% if app.user %}
                        <li class="list-inline-item g-mx-4 g-mt-10">
                            <a href="{{ path('profile') }}" class="g-color-white g-color-gray-light-v1--hover g-text-underline--none--hover">Личный кабинет</a>
                        </li>
                        <li class="list-inline-item g-mx-4 g-mt-10">
                            {% include "common/notifications_button.html.twig" %}
                        </li>
                    {% else %}
                        <li class="list-inline-item g-mx-4 g-mt-10">
                            <a href="{{ path('app_login') }}" class="g-color-white g-color-gray-light-v1--hover g-text-underline--none--hover">Войти</a>
                        </li>
                        <li class="list-inline-item g-mx-4 g-mt-10">|</li>
                        <li class="list-inline-item g-mx-4 g-mt-10">
                            <a href="{{ path('app_register') }}" class="g-color-white g-color-gray-light-v1--hover g-text-underline--none--hover">Зарегистрироваться</a>
                        </li>
                    {% endif %}
                    <li class="list-inline-item g-mx-4 g-mt-10">
                        <div class="g-pos-rel">
                            <a href="{{ path('search') }}"
                               class="g-font-size-14 g-color-white g-color-gray-light-v1--hover g-ml-5"
                               aria-haspopup="true"
                               aria-expanded="false"
                               aria-controls="searchform-6"
                               data-dropdown-target="#searchform-6"
                               data-dropdown-type="css-animation"
                               data-dropdown-duration="300"
                               data-dropdown-animation-in="fadeInUp"
                               data-dropdown-animation-out="fadeOutDown"
                            >
                                <i class="fa fa-search"></i>
                            </a>
                            <form method="post"
                                  id="searchform-6"
                                  class="u-searchform-v1 g-bg-black g-box-shadow-none g-pa-10 g-mt-10 u-dropdown--css-animation u-dropdown--hidden"
                                  style="animation-duration: 300ms; right: -15px;"
                            >
                                <div class="input-group g-brd-primary--focus">
                                    <input class="form-control rounded-0 u-form-control g-brd-white" type="search" placeholder="Enter your keyword ...">
                                    <div class="input-group-addon p-0">
                                        <button class="btn rounded-0 btn-primary btn-md g-font-size-14 g-px-18" type="submit">Поиск</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
