<div class="col-lg-3 col-md-6 col-sm-6 col-12 g-mb-25 g-mb-0--lg">
    <div class="u-heading-v3-1 g-brd-white-opacity-0_3 g-mb-25">
        <h2 class="u-heading-v3__title h6 text-uppercase g-brd-white">Популярные курсы</h2>
    </div>
    {% for element in footerMenu.getFirstColumn %}
        <article>
            <h3 class="h6 g-mb-8">
                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{{ element.route }}">{{ element.title }}</a>
            </h3>
            <div class="small g-color-white-opacity-0_6">{{ element.getParam('date') }}</div>
        </article>
        {% if loop.last == false %}
            <hr class="g-brd-white-opacity-0_1 g-my-10">
        {% endif %}
    {% endfor %}
</div>

<div class="col-lg-3 col-md-6 col-sm-6 col-12 g-mb-25 g-mb-0--lg">
    <div class="u-heading-v3-1 g-brd-white-opacity-0_3 g-mb-25">
        <h2 class="u-heading-v3__title h6 text-uppercase g-brd-white">Популярные статьи</h2>
    </div>
    <nav class="text-uppercase1">
        <ul class="list-unstyled g-mt-minus-10 mb-0">
            {% for element in footerMenu.getSecondColumn %}
                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                    <h4 class="h6 g-pr-20 mb-0">
                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{{ element.route }}">{{ element.title }}</a>
                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                    </h4>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>
