{% extends 'layout/base.html.twig' %}

{% block page_title %} Здравствуйте, {{ app.user.fullName }} {% endblock %}

{% block content %}
    <section class="g-py-75">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <ul class="nav nav-justified u-nav-v1-1 u-nav-primary u-nav-rounded-5 g-mb-20" role="tablist" data-target="nav-1-1-primary-hor-justified" data-tabs-mobile-type="slide-up-down" data-btn-classes="btn btn-md btn-block u-btn-outline-primary g-mb-20">
                        <li class="nav-item">
                            <a class="nav-link " href="{{ path('profile') }}"  aria-selected="true">Общая информация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('user_progress') }}" aria-selected="false">Обучение</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('user_settings') }}">Настройки</a>
                        </li>
                    </ul>
                    <div id="nav-1-1-primary-hor-justified" class="tab-content">
                        <div class="tab-pane fade active show" id="nav-1-1-primary-hor-justified--1" role="tabpanel">
                            {{ form(profileForm) }}
                        </div>
                    </div>
                    <div class="mt-3">
                        <p class="text-danger">Вы можете удалить свой профиль в любой момент.</p>
                        <a href="{{ path('delete_profile') }}" class="btn btn-danger">Удалить профиль</a>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
